/* Reset some default styles */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #d4b79a;
    min-height: 100vh;
}
#Categories a {
   
 /* Inherit the color from its parent element */
    text-decoration: none !important; 

}

#Categories a:hover {
    color: #845D37 !important; /* Change the color on hover */
}
/* Apply a box-sizing border-box model to all elements */
* {
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'YourPreferredFont', sans-serif; /* Add your preferred font here */
}

/* Header styles */

#Header img {
    width: 200px;
    height: auto;
}


#ShoppingIcon {
    margin-right: 10px;
}

#ShoppingIcon a {
    color: white;
    text-decoration: none;
}
#HeaderBackground {
    width: 100%;
    height: 200px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

#HeaderBackground img {
    width: 100%;
    height: 100%; /* Set to 100% to fill the entire #HeaderBackground */
    object-fit: cover; /* Ensure the image covers the entire container */
}

#Header {
    background-color: #845D37; /* Set the background to transparent, as the image will be the background */
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#NavBar {
    margin-top: 0px; /* Adjust the top position to create space for the fixed header, title, search bar, and shop icon */
    background-color: #845D37; /* Set the background color with an alpha value for transparency */
    font-family: 'YourCustomFont', sans-serif;
    width: 100%;

    z-index: 1000;
}

#NavBar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    background-color: transparent; /* Make the background color transparent */
}

#NavBar li {
    transition: background-color 0.3s ease;
}

#NavBar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    display: inline-block;
    transition: color 0.3s ease;
}

#NavBar li:hover a {
    color: #ffffff;;
    cursor: pointer;
}


#Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between category buttons */
    margin-top: 50px;
    margin-bottom: 50px;
}
#Categories img {
width: auto;
}

.category {
    background-color: #845D37;
    color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cinzel', sans-serif;
}

#Footer {
    background-color: #845D37;
    color: white;
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Push the footer to the bottom of the container */
}

.footer-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-icons a {
    margin-bottom: 10px;
}

#Footer p {
    margin: 0;
}

/* Ensure proper alignment for the phone icon */
#Footer i {
    margin-right: 10px;
    color:#ffffff;; /* Set the color to white */
}